<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 2018.11.16, 16:48</p>
        <h2><a href="">My first post</a></h2>
        <p>DTG데이터 수급을 위해 김천혁신도시 방문</p>
    </div>

    <div>
        <p>published: 2018.11.16, 16:48</p>
        <h2><a href="">My second post</a></h2>
        <p>DTG데이터 수급을 위해 김천혁신도시 방문</p>
    </div>



    <p>hi there!</p>
    <p>it works!</p>
</body>
</html>